@using SharedHelpers.DataTransferObjects
@inject IRequestService _irs
<!-- Skall ta emot en lista på Top 5 av: Wins, Losses and Games så det blir 3 varianter -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Wins</th>
            <th scope="col">Losses</th>
            <th scope="col">Games</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hamster hamster in hamsters)
        {
            <tr>
                <th scope="row">@hamster.Id</th>
                <td>@hamster.</td>
                @if (staticsType == "Wins")
                {
                    <td class="table-active" style="background-color:#f9208c;">@hamster.Wins</td>
                }
                else
                {
                    <td>@hamster.Wins</td>
                }
                @if (staticsType == "Losses")
                {
                    <td class="table-active" style="background-color:#f9208c;">@hamster.Defeats</td>
                }
                else
                {
                    <td>@hamster.Defeats</td>
                }
                @if (staticsType == "Games")
                {
                    <td class="table-active" style="background-color:#f9208c;">@hamster.Games</td>
                }
                else
                {
                    <td>@hamster.Games</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Hamster>? hamsters { get; set; }
    [Parameter]
    public string? staticsType { get; set; }

}
